* {box-sizing: border-box; padding: 0; margin: 0; list-style-type: none; text-decoration: none; font-family: sans-serif;}
.fi {width:20px; height:20px; border-radius: 50%; background-color: red; color:white;position: fixed;  bottom:50px; right:10px; z-index: 200; cursor: pointer; transition: 2s;}
.h-container1, .h-container2  {width:50%; display: flex; justify-content: center;}
.h-container1 a, .h-container2 a {color:black;}
.header-container {display: flex; justify-content:center ; border-bottom:1px solid gray; display: none;}
.header-container1 {display: flex; padding:10px;  width:90%;}
/* .h-container2 {display: flex;} */
.wishlist-container, .order-container, .icons-container {width:25%; text-align: center;}
.wishlist-container, .order-container {border-right: 1px solid grey;}
.icons-container i {padding:0 5px; cursor: pointer;}
.icons-container i:hover {transform: rotateY(180deg); transition: .5s;}
.h-container1 a {padding:0 15px; color:black; text-align: center;}

                /* header-container2 */

.header-container2 {width:90%; display: flex; justify-content: center; align-items: center;}
.header-container2-wrapper {display: flex; justify-content: center; }
.header-container2-logo, .header-container2-icons {width:20%;}
.header-container2-links {width:60%;}
.search {cursor: pointer;}
.container2-unordered {display: flex;justify-content: center; align-items: center;}
.container2-unordered li a {display: inline-block; padding:0 10px; color:black;}
.header-container2-icons i {padding:0 10px;}
.header-container2-icons {display: flex;justify-content: flex-end;}
.pages, .blog  {position: relative;height:100%; }
.ex-link, .ex-blog {padding:5px 0;}
.container2-unordered li {padding:30px 10px;}
.extension, .extension-2 {position: absolute; display: none; top:75px; z-index: 20; width:150px;}
.pages:hover .extension , .blog:hover .extension-2 {display: block; border-top:2px solid red; border-radius: 10px; background-color: aliceblue;}
.header-paragraph p {text-align: center; padding:10px; color:white}
.header-paragraph {background-color: black; position: relative;}
.search-input {position:absolute;  z-index: 5; height:0; top:0; display: flex; justify-content: center; width:100%; overflow: hidden;}
.search-input input {width:700px; padding:0 10px;}
.cancel {z-index: 6; color:red; position:absolute; left:1000px; font-size: 30px; cursor: pointer;}
.shop a {color:white; border-bottom: 3px solid gray; transition: .5s; color:gray; font-size: 18px;}
.shop a:hover {letter-spacing:2px;}


                /* slider-container */
.slider-container{background-image: url("./img/blueshirt.png"); background-repeat: no-repeat; background-size: cover;height:600px; 
                    }
.slider-containers-wrapper {height:600px; position: relative;  overflow: hidden;}
.slider1-content {  margin-left:150px; text-align: center; display: flex;align-items: center; height:100%; font-family: cursive;}
.shop-now, .shop-now1 {width:150px; background-color: black; color: white; text-align: center; padding:10px 20px;}
.shop-now, .shop-now1 {animation: ani .5s ease-in ;}
.shop-now-wrapper, .shop-now-wrapper1 {display: flex; justify-content: center; padding:30px 0 0 0;}
.shop-now-wrapper {overflow: hidden;}
.fashion, .fashion1 {font-size:30px;}
.slider1-content h1, .slider1-content1 h1  {font-size: 50px;}
.para-content, .para-content1 {font-size: 19px;}
.para-content, .para-content1 {animation: ani .5s linear;}
.flex-con h1, .flex-con1 h1 {animation: con .5s linear;}

.slider-container1 {background-image: url("./img/ladyblue.png"); background-repeat: no-repeat; background-size: cover;height:600px;
    display: flex; justify-content: flex-end; align-items: center;}
.slider1-content1 { padding-right: 130px;text-align: center;width: 100%; height:100%;display: flex;justify-content: flex-end;align-items: center;
      }
.flex-con {height:300px; width:500px;}
.flex-con1 {width:500px; height:300px;}
.arrow1 {position:absolute;}
.sli-icon1 {top:50%; background-color:black; color:white; padding:20px 10px; margin-left: 5px;}
.sli-icon2 {right:0; top: 50%; background-color:black; color:white; padding:20px 10px; margin-right: 5px;}

                        /* container1 */

.container1 {display: flex; justify-content: space-around;}
.fashion2 {width:27%; height: 300px; overflow: hidden; }

.container1-content-1   {background-image:url("./img/redshirt.png.jfif"); background-size: cover; background-repeat: no-repeat;
                        display: flex; align-items: flex-end;}
.f-men , .f-women , .f-baby   {height:100px; padding:10px 0; display: flex; flex-wrap: wrap; align-content: space-around; width:100%; color:white; background-color:rgba(100,100,100,0.4);}
.fashion-shop-wrapper {width:100%;}
.i-para {font-size: 23px;}
.shop-para a {color:wheat; font-size: 14px; text-decoration: underline;}
.f-men p, .f-women p, .f-baby p {width:100%; transform: translateY(35px); transition: .5s; }
.shop-para {opacity: 0;}
.f-men, .f-women, .f-baby {text-align: center;}
.container1-content-2 { display: flex; align-items: flex-end; background-image: url("./img/brownbag.png.jfif"); 
                        background-size: cover; background-repeat: no-repeat;}
.container1-content-1:hover .f-men p{transform: translateY(0); opacity: 1;}
.container1-content-2:hover .f-women p {transform: translateY(0); opacity: 1;}
.container1-content-3:hover .f-baby p {transform: translateY(0); opacity: 1;}

.container1-content-3 {background-image: url("./img/pinkoutfit.png");background-size: cover; background-repeat: no-repeat;
                        display: flex; align-items: flex-end;}
.container1-wrapper {padding:30px;}
.sticky-container {position: sticky; top:0; z-index: 100; background-color: white; display: none;}

                            /* container 2 */

.container2-content1, .container2-content2  {width:50%;}
.container2-container1 {display: flex;}
.container2 {width:90%;  border-bottom: 1px solid gray; height:100%;}
.container2-wrapper{display: flex;justify-content: center;}
.container2-content2 {display: flex; justify-content: end; align-items: center; }
.container2-content2 a {padding:0 10px; color:black; height:100%; margin: 0 3px;}
.con2-link {height:100%;border-bottom: 2px solid red;}
.container2-content2 a:hover {border-bottom: 2px solid red;}

/* .items-container1 {width:20%; background-color: #fff; height:200px; margin-top: 20px;  display:flex;}


.image1 {width:250px; height:100%;}
.petdataimage {height:100%;}
.items-container-details {margin:10px;} */

.container4-content {display: flex; width:80%;}
.container4-content1, .container4-content3 {width:15%; display: flex; justify-content: center; align-items: center;}
.slider-wrapper {width:70%; height:500px; }
.container4-content-wrapper {display: flex; justify-content: center;}
.container4-content2-image-container {display: flex; justify-content: center; align-items: center;}
.container4-wrapper {height:500px; overflow: hidden;}
.container4-content2-image img {width:100px; height:100px; object-fit: cover; border-radius: 50%;}
.container4-content2 {height:100%;}
.icon4-1, .icon4-2   {cursor: pointer;} 
.container4-content2-image-content {padding-left:20px;}
.container4-content2-image-content h5 {padding:0 0 10px 0;}
.container4-content2-1 {padding:30px 70px;}
.container4-content2-1 h1 {text-align: center !important;  padding:0 0 30px 0; text-transform: capitalize;}
.container4-content2-1 p {line-height:30px; text-align: center;}
.container3-1 {position: relative;}
.java-icon {position: absolute; height:50px; background-color: thistle; bottom:70px;  width:60%; display: flex; justify-content: center;
            width:60%;display: flex; justify-content: center; align-items: center; display: none;}
.java-icon p {width:33.33%; display: flex; justify-content: center; align-items: center; height:100%;}
.header-container2-icons-wrapper {display: flex; justify-content: center;}
.java-icon p:hover {background-color: tomato; }
.petdataimage:hover .java-icon{display: flex;}

/* container 6 */
.container6-container-wrapper{background-color: rgb(230,230,230); padding:50px 0;}
.container6-content-wrapper { min-height:75px; width:25%;} 
.container6-content-1 img {width:100%; height:auto;}
.container6-content{margin:auto; display: flex; justify-content: space-between; width: 90%;}
.container6-header h1 {text-align: center; padding:0 0 30px 0;}
.f-tips h4 {padding:20px 0 0 0;}
.container6-content2 h3 {padding:20px 0 0 0;}
.container6-content6-para{padding:20px 0 0 0; color:gray;}
.p-link {padding:15px 0 0 0; text-decoration: underline; font-size: 14px; font-weight: bold;}


.container7-content-wrapper {width:80%;}
.container7-container {display: flex;justify-content: center;}
.container7-content-wrapper {display: flex;}
.container7-content-1 {width:25%;}
.container7-image1  {display: flex; justify-content: center; align-items: center;}
.container7-container-wrapper {padding:40px 0;}
.con7-content1 h3, .con7-content1 p {padding:15px; text-align: center;}
.con7-content1 h3 {font-size: 16px; padding:30px 0 0 0;}


/* #container-content3 {display: flex;} */
.container3{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 90%;
    padding:20px 0;

}

.container3-wrapper{
    display: flex;
    justify-content: center;
}
.petdataimage{padding:5px;}

/* .item-container{display: flex;} */

.container5-wrapper {display: flex; justify-content: space-around;}
.container5-content {width:90%;}


.footer-wrapper {background-color: black; color:white; display: flex; justify-content: center;}
.con8 {width:25%; display: flex; align-items: center;}
.con7 {width:50%;}
.container8-wrapper {display: flex; border-bottom: 1px solid gray;}
.footer-container {width:80%;}
.container8-form-wrapper {display: flex; justify-content: center; align-items: center;}
.container8-subscribe {background-color: red;}
.container8-form , .container8-subscribe {height:50px; }
input {height:100%; padding:5px 10px; width:300px;}
.container8-subscribe {display: flex; justify-content: center; align-items: center; width:100px;} 
.container8-wrapper {height:150px;}
.container8-content1 {display: flex; flex-direction: column;}
.container8-content2 {font-size:25px; padding:10px 0;}
.container8-content3 {font-size:14px;}
.container8-icon-container {display: flex; }
.container8-icon-wrapper {display: flex; justify-content: center;}
.container8-icon-container i {padding:10px; font-size: 20px;}
.container9-content {display: flex; width:100%;}
.con9 {width:20%;}
.con9 img {width:160px;}
.container9-wrapper {display: flex; justify-content: center; align-items:center; height:300px;}
.content-para {padding: 0 0 20px 0}
.ul9 li a {color:white; font-size: 14px;}
.ul9 li {padding:5px 0;}
.err  {color:blue}












@keyframes ani {
    0%{transform: translateY(50px); opacity:0;}
    50% {transform: translateY(25px); opacity:0.2;}
    100% {transform: translateY(-5px); opacity:1;}
}


@keyframes con {
    0% {scale:1.2;}
    25% {scale: 1;}
    75% {scale:1.1;}
    100% {scale:1;}
}

/* @keyframes men {
    0%{transform: translateY(50px);}
} */

@media  screen and (min-width:320px) {
    /* .header-container {display: none;} */
    /* .sticky-container {display: none;} */
    .containers-wrappers {width:100%; overflow: hidden;}
    .phone-header-image {padding:10px;}
    .menu-wrapper {background-color: #4c4c4c; color:white;}
    .menu, .hamburger {font-weight:bold; }
    .hamburger {font-size:20px; cursor: pointer;}
    .menu-wrapper {width:100%; display: flex; justify-content: flex-end; padding:10px 5px;}
    .menu-container {width:80px; display: flex; justify-content: space-between; align-items: center; padding:4px; background-color: #212121; border-radius: 3px;}
    .menu-content {background-color:#4c4c4c; color: white; height:0; overflow: hidden; transition: .5s; }
    .menu-unordered-list1 {padding:5px; min-height: 200px;}
    .menu-unordered-list1 li a {color:white; font-size: 14px;}
    .menu-unordered-list1 li  {padding:5px 5px;}
    .menu-unordered-list1 {padding:5px; }
    .extension1, .extension-3 { height:0; overflow:hidden; transition: .5s;}
.ex-link1, .ex-blog1 {padding:5px 30px;}
.page, .page1 {font-size:13px;}
.page i, .page1 i  {cursor: pointer;}
    
.m-slider-containers-wrapper {height: 350px; width:100% }
.sli-icon1, .sli-icon2 {padding: 5px; font-size:16px; border-radius: 3px; }
.slider-container1 {background-image: url("./img/ladyblue.png");background-repeat: no-repeat; background-size: cover; 
                     background-position:center; height: 350px;}

.slider-container {
    background-image: url("./img/blueshirt.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
  }
 
  .slider1-content {
    margin-left: 0;
    text-align: center;
    display: block;
    align-items: center;
    height: 100%;
    font-family: cursive;
  }
  .flex-con h1, .flex-con1 h1 {font-size: 26px;}
  .fashion, .fashion1 {
    font-size: 20px; font-weight: bold;
  }
  .slider-container{width:100%;}
  .flex-con, .flex-con1 {height: 100%; width: 100%;}
  .flex-con p , .para-content1{font-size: 16px; padding:20px; line-height: 22px;}
  .flex-con1 .fashion1{font-size:23px; padding: 20px;}
  .shop-now, .shop-now1 {
      width:120px;
    height: 36px;
    display: flex;
    align-items: center;
  }

  .shop-now-wrapper, .shop-now-wrapper1 {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .slider1-content1 {
    padding-right: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  /* .para-content, .para-content1 {
    font-size: 16px;
  } */



}
